.idea
.DS_Store
.venv

*.pyc
*.pth
*.tar

*.png
*.tif
*.jpg

lightning_logs/
note/

*.gz
*.npy

*.log
*.ckpt
*.json

launch/
outputs/
to_del/

ckpt_list.md
notebooks/original_nbs/
notebooks/tmp.ipynb
tmp.ipynb

wandb/
.env

data/*
!data/predict_images/
!data/predict_images/sample.tif
!assets/TreePseCo_logo.png
!assets/heatmap_and_points_2.png
!assets/img_5_only.png
!assets/tp_5_mask_and_boxes.png
!assets/TreePseCo.jpg
